---
title: My Journey in programming
description: My Journey in learnig programming.
date: '2021-12-14'
categories:
  - 'Programming'
  - 'Personal'
---

**My Journey in programming**

I started development just by watching youtube videos and reading pdf, as I was a self-taught developer.